.Menu {
    position: relative;
    margin: 10px;
    padding: 5px;
    right: 2%;
    border-width: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Menu a {
    color: rgba(255, 255, 255, 0.764);
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    transition: .3s;
}

.h3 {
    color: white;
    position: absolute;
    padding: 2px;
    left: 60px;
    display: inline-block;
    margin: 10px;
}

a {
    color: #000000; 
    text-decoration: none; 
}

header .Menu {
    display: flex;
    justify-content: flex-end;
}

header .Menu a {
    font-size: 16px;
    margin: 0 10px;
    text-decoration: none;
}

header {
    background: #000000;
    border: 1px solid black;  
}

.Intro {
    background: #7e7272;
    overflow-y: scroll;
    width: 70%;
    border: 1px solid black;
    padding: 20px;
    margin: 2px;
}   

.Aside {
    background: #3e3a3a;
    width: 30%;
    border: 1px solid black;
    padding: 20px;
    margin: 2px;
}  

.block {
    position: static;
    display: flex;
    border: 3px solid black;
    max-height: 81vh;
}

nav {
    border: 0.5px solid black;
    background: #1e1b1b;
}

nav h4 {
    color: rgb(174, 167, 167);
    position: relative;
    margin: 3px;
    padding: 1px;
    left: 7px;
}

footer {
    border: 0.5px solid black;
}

footer  h4 {
    margin: 8px;
}

.Inside {
    background: #373131;
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 30px;
} 

head {
    margin-top: 0px;
    padding: 0px;
}

.head p{
    background: #292525;
    color: rgb(176, 163, 163);
    top: 2px;
    border: 0.5px solid black;
    padding: 5px;
    margin: 0px;
    margin-bottom: 5px;
}

article {
    background: #333131;
    border: 0.5px solid black;
    padding: 5px;
    display: flex;
}

article p{
    color: rgb(168, 162, 162);
}

/*Da qui parte il codice drop down*/

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
  }
  
.sub-Menu {
top: 28px;
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.sub-Menu a {
color: black;
padding: 8px;
text-decoration: none;
display: block;
}

.sub-Menu a:hover {background-color: #9f8e8e}

.Menu:hover .sub-Menu {
display: block;
}

.Menu:hover .dropbtn {
color: wheat;
}

footer {
    background: #292525;
}

footer h4{
    color: rgb(177, 167, 167);
    text-align: right;
}

/*
::-webkit-scrollbar {
    width: 2em;
}

::-webkit-scrollbar-track {
    background: hsl(120 75% 50% /1);
    border-radius: 10vw;
    margin-block: .5em;
    margin-inline: 1em;
}

::-webkit-scrollbar-thumb {
    background: hsl(120 100% 20% /1);
    border: .25em solid hsl(120 75% 50% /1);
    border-radius: 10vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% /1);
}
*/

